* {
  text-align: center;
  font-family: Helvetica;
  color: grey;
}

#home,
#design,
#footer {
  color: white;
}

#home {
  background-image: url("../../resources/images/the-flatiron-building.png");
  font-size: 18px;
}

#home h1 {
  font-size: 70px;
  font-weight: bold;
}

a{
  color: white;
  font-family: Helvetica;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#design {
  background-image: url("../../resources/images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
}

#footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

#footer p {
  text-align: left;
  color: white;
}

#footer a{
  font-family: Helvetica;
  font-size: 18px;
}
